<%- include('partials/header'); -%>

    <div class="container green">
        <h1>Update
            <%= col.name %>
        </h1>
        <div class="login-box">
            <form action="/colleges/<%=col._id%>?_m=PUT" method="POST">
                <div class="user-box">
                    <input type="text" class="form-control" id="validationDefault01" value="<%=col.name%>" name="name" required>
                    <label for="validationDefault01">Name</label>
                </div>
                <div class="user-box">
                    <textarea class="Details" cols="30" rows="10" name="details" required><%= col.details %>
                    </textarea>
                </div>
                <div class="user-box">
                    <textarea class="Details" cols="30" rows="10" name="map" required><%= col.map %>
                    </textarea>
                </div>
                <button class="submit" type="submit">Update</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer'); -%>