<%- include('partials/header'); -%>
    <div class="container green">
        <div class="login-box">
            <form action="/colleges/<%= id %>/departments/<%= dept._id %>?_m=PUT" method="POST">
                <h3>Update
                    <%=dept.name%>
                </h3>
                <div class="user-box">
                    <input class="form-control" type="text" value="<%=dept.name%>" id="deptName" name="name" required>
                    <label for="deptName">Name</label>
                </div>
                <div class="user-box">
                    <textarea id="deptDetails" cols="30" rows="10" name="details" required><%= dept.details %>
                      </textarea>
                    <!-- <input class="form-control" type="text" id="deptDetails" value="" name="details" required>
                    <label for="deptDetails">Details</label>
                </div> -->
                    <div class="user-box">
                        <button class="submit" type="submit">Update</button>
                    </div>
            </form>
            </div>
        </div>

        <%- include('partials/footer') -%>