<%- include('partials/header'); -%>
    <div class="container green">
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <% Colleges.forEach(function (college) { %>
                        <div class="col-md-4 sm-6 card-custom">
                            <div class="card sm-6 mb-4 box-shadow card-custom">
                                <img src="/<%= college.image %>" class="card-img-top" alt="<%= college[" name "] %> Pic">
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= college["details"] %>.</p>
                                    <a href="/colleges/<%= college._id %> " class="btn btn-sm btn-outline-secondary" role="button" id="viewButton">View</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIzKl0ihHXQPc5lGcIq_PP-G75XXgZGJU&libraries=places"></script> -->
    <%- include('partials/footer'); -%>