<%- include('partials/header'); -%>
    <style>
        .card-custom {
            min-height: 15em;
        }
        
        .card-img-top {
            width: 100%;
            height: 100%;
        }
        
        .btn-outline-secondary {
            color: #000030;
        }
        
        .text-hover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding-top: 3em;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(3, 232, 244, 0.685);
        }
        
        .card-custom:hover .text-hover {
            opacity: 1;
        }
        
        .text-hover {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
    <div class="container green">
        <a href="/restaurants/new">Add New Restaurant</a>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <% rest.forEach(function (restaurant) { %>
                        <div class="col-md-4 sm-6 card-custom">
                            <div class="card sm-6 mb-4 box-shadow card-custom">
                                <img src="<%= restaurant.image %>" class="card-img-top" alt="<%= restaurant[" name "] %> Pic">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= restaurant["name"] %>
                                    </h5>
                                    <div class="text-hover">
                                        <p class="card-text">
                                            <%= restaurant["phone"] %>.</p>
                                        <p class="card-text">
                                            Open from
                                            <%= restaurant["openTime"] %> To
                                                <%= restaurant["closeTime"] %>.</p>

                                        <a href="/restaurants/<%= restaurant._id %> " class="btn btn-sm btn-outline-secondary" role="button" id="viewButton">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIzKl0ihHXQPc5lGcIq_PP-G75XXgZGJU&libraries=places"></script> -->
    <%- include('partials/footer'); -%>