<%- include('partials/header'); -%>
    <div class="container green">
        <div class="login-box">
            <form action="/colleges/<%= col._id %>/schedule" method="POST" enctype="multipart/form-data">
                <div class="user-box">

                    <select name="dept" class="custom-select" id="deptsselect" required>
                <% col.depts.forEach(function(dept){%>
                    <option value="<%=dept._id%>">
                        <%=dept.name%>
                    </option>
                <%}) %> 
                
                    </select>
                </div>
                <div class="user-box">
                    <input type="file" class="form-control-file" name="image" id="schedule" required>

                </div>
                <div class="user-box">
                    <input class="form-control" type="text" id="year" name="year" required>
                    <label for="year">Year</label>
                </div>
                <div class="user-box">
                    <input class="form-control" type="text" id="semester" name="semester" required>
                    <label for="semester">Semester</label>
                </div>
                <div class="user-box">
                    <input class="form-control" type="text" id="studyYear" name="sYear" required>
                    <label for="studyYear">Study Year</label>
                </div>
                <button type="submit" class="submit">Upload</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer'); -%>